node_modules
downloads
Workspaces
Models
Release
python/uv.exe
python/uvw.exe
python/uvx.exe
frontend
build
bin
dist
uv.lock 
pnpm-lock.yaml
__pycache__
.pytest_cache
.cache
.python-version
.env
.venv
.browser_profile
.backup
.pnpm-store/
.env
.env.local
python/config.json
Extensions
Tools/private
ModelProvider/private
Backend/private
Pipeline/private